# Ignore all logfiles and tempfiles.
/log/*
!/log/.keep
/tmp

xcuserdata
.xcuserdata
*.xcuserdata

.xcuserstate
*.xcuserstate

*.xcuserdatad
.xcuserdatad

.xcbkptlist
*.xcbkptlist
.idea

.xcbkptlist

Secrets.swift
